<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>营销中心提成系统</title>
</head>
<body>
<h1>营销中心提成系统</h1>
<form method="post" action="/yingxiao_jisuan">

    1&nbsp月份:<input type="text" name="1" value="0"><br/>
    2&nbsp月份:<input type="text" name="2" value="0"><br/>
    3&nbsp月份:<input type="text" name="3" value="0"><br/>
    4&nbsp月份:<input type="text" name="4" value="0"><br/>
    5&nbsp月份:<input type="text" name="5" value="0"><br/>
    6&nbsp月份:<input type="text" name="6" value="0"><br/>
    7&nbsp月份:<input type="text" name="7" value="0"><br/>
    8&nbsp月份:<input type="text" name="8" value="0"><br/>
    9&nbsp月份:<input type="text" name="9" value="0"><br/>
    10月份:<input type="text" name="10" value="0"><br/>
    11月份:<input type="text" name="11" value="0"><br/>
    12月份:<input type="text" name="12" value="0"><br/>
    查询季度:<input type="text" name="101" value="1"><br/>

    <input type="submit" value="计算">
</form>

当季度提成是：{{ticheng}}元，总完成任务：{{zong}}，任务外完成：{{wai}}，</br>
当季度完成：{{yue}}，一万以下任务：{{yiwxia}}，一万到两万：{{yiwanshang}}，</br>
两万以上：{{liangwanshang}}，提成区间10%：{{bai10}}，12%：{{bai12}}，15%：{{bai15}}。</br>
<a href="index">去首页</a>
</body>
</html>